[Desktop Entry]
Name=PipeWire Volume Control
GenericName=Pipewire Volume Control
Exec=pwvucontrol
Icon=com.saivert.pwvucontrol
Terminal=false
Type=Application
Categories=Audio;System
Keywords=Volume
StartupNotify=true
